.Project {
  display: flex;
  align-items: center;
  max-height: inherit;
  margin-bottom: 5rem;
}

.Project_left {
  width: 35%;
  margin-right: 3rem;
}

.Project_right {
  display: flex;
  align-items: start;
  height: 100%;
}

.Tech_list {
  display: inline-flex;
  list-style: none;
}

.Tech_list li {
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
  margin-left: 0.3rem;
}

.Tech_list li:not(:last-child):after {
  content: " - ";
}

.Preview_image {
  width: 25rem;
  border: 2px solid var(--white-text);
}


@media only screen and (max-width: 850px) {
    .Project {
        flex-direction: column;
    }
}