.Project {
  display: flex;
  align-items: center;
  max-height: inherit;
  margin-bottom: 5rem;
  font-size: 1.2rem;
}

.Project_left {
  width: 35%;
  margin-right: 3rem;
}

.Project_right {
  display: flex;
  align-items: start;
  height: 100%;
}

.Tech_list {
  display: inline-flex;
  list-style: none;
  color: var(--accent-1)
}

.Tech_list li {
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
  margin-left: 0.3rem;
}

.Tech_list li:not(:last-child):after {
  content: " - ";
}

.Descriptions p {
    margin-bottom: 1rem;
    line-height: 1;
}

.Preview_image {
  width: 25rem;
  border: 2px solid var(--white-text);
}

.Links a:link {
    color: var(--accent-2);
    font-weight: 700;
}

.Links a:visited {
    color: var(--accent-1);
    font-weight: 700;
}

.Links a:hover {
    color: var(--accent-1);
}


@media only screen and (max-width: 850px) {
    .Project {
        flex-direction: column;
    }
}