.App{
    background-color: var(--light-main);
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
}

@media only screen and (max-width: 850px) {
    .App{
        background-color: --var(--light-main);
        min-height: 100vh;
        display: flex;
        flex-direction: column;
    }
}