:root {
  --light-main: #DCDCDC;
  --light-backdrop: #F9F7F7;
  --dark-main: #000000;
  --dark-backdrop: #0C0C0C;
  --accent-1: #008148;
  --accent-2: #B20D30;
  --white-text: #FFFFFF;
  --black-text: #000000;

}

* {
  margin: 0;
  padding: 0;
  font-family: 'League Spartan', sans-serif;
}

