.Nav {
  background-color: var(--dark-backdrop);
  max-width: 33%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-right: 2rem;
  padding-left: 2rem;
}

/*Title card styles*/

.Nav_title {
  color: var(--accent-1);
}

.Nav_title a:link {
    color: var(--white-text);
    font-size: 2rem;
}

.Nav_title a:visited {
    color: var(--white-text);
    font-size: 2rem;
}

.Nav_title a:hover {
    color: var(--accent-2);
    font-size: 2rem;
}

.Name {
  line-break: word;
  font-size: 2rem;
  color: var(--white-text);
}

.FS_dev {
  margin-bottom: 1rem;
}

/* .GitHub_icon {
  color: white;
  font-size: 2rem;
}

.Linkedin_icon {
  color: white;
  font-size: 2rem;
}

.Email_icon {
  color: white;
  font-size: 2rem;
} */

/*Nav Link Styles*/

.Nav_links {
  font-size: 4rem;
}

.Nav_items {
  list-style: none;
  text-decoration: none;
  line-height: 1.5;
}

.Nav_items li a:link {
  text-decoration: none;
  color: var(--white-text);
}

.Nav_items li a:visited {
  text-decoration: none;
  color: var(--white-text);
}

.Nav_items li a:hover {
  text-decoration: none;
  color: var(--accent-2);
}

/*Nav footer styles*/

.CV a:link {
  font-size: 2rem;
  color: var(--accent-1);
}


.CV a:visited {
    color: var(--accent-1);
  }

  .CV a:hover {
    color: var(--accent-2);
  }
