.Nav {
  background-color: var(--dark-main);
  width: 15vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-bottom: 2rem;
  padding-right: 2rem;
  padding-left: 2rem;
}

/*Title card styles*/

.Nav_title {
  color: var(--accent-1);
}

.Nav_title a:link {
  color: var(--white-text);
  font-size: 2rem;
}

.Nav_title a:visited {
  color: var(--white-text);
  font-size: 2rem;
}

.Nav_title a:hover {
  color: var(--accent-2);
  font-size: 2rem;
}

.Name {
  line-break: word;
  font-size: 2rem;
  color: var(--white-text);
}

.FS_dev {
  margin-bottom: 1rem;
}

/*Nav Link Styles*/

.Nav_links {
  font-size: 4rem;
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
}

.Nav_items {
  list-style: none;
  text-decoration: none;
  line-height: 1.5;
  padding: 4rem 0;
  margin: 0;
  border-radius: 1rem;
}

.Nav_items li {
  margin: 1rem 0;
  font-size: 3rem;
}

.Nav_items li a:link {
  text-decoration: none;
  color: var(--white-text);
}

.Nav_items li a:visited {
  text-decoration: none;
  color: var(--white-text);
}

.Nav_items li a:hover {
  text-decoration: none;
  color: var(--accent-2);
}

.Nav_items li a.Active {
  text-decoration: none;
  color: var(--accent-2);
}

#CV:hover{
  color: var(--black-text);
  word-break: none;
}


/*Nav footer styles*/

.CV a:link {
  font-size: 2rem;
  color: var(--accent-1);
}

.CV a:visited {
  color: var(--accent-1);
}

.CV a:hover {
  color: var(--accent-2);
}

/* MEDIA QUERIES */

/*At 1200/1050/750px smaller link font size*/

@media only screen and (max-width: 1200px) {
  .Nav_items li {
    font-size: 2.5rem;
  }
}

@media only screen and (max-width: 1050px) {
  .Nav_items li {
    font-size: 2rem;
  }
}



/* Horizontal layout below 850px */
@media only screen and (max-width: 850px) {
  .Nav {
    max-width: 100%;
    flex-direction: row;
    max-height: fit-content;
    min-width: 100vw;
    align-items: center;
    justify-content: space-around;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 0;
    padding-right:0;
  }

  .Nav_title {
    max-width: 50%;
  }

  .Nav_links {
    flex-direction: row;
  }

  .Nav_items {
    padding: 0;
    display: flex;
    flex-direction: column;
    line-height: 0;
    background-color: transparent;
  }

  .Nav_items li {
    font-size: 1.4rem;
  }
}
